/* GENERAL */
* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    /* display: table; */
}

body {
    height: 100%;
    background-color: white;
    font-family: 'Marck Script', cursive;
}


/* NAVIGATION */
.burger {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 30px;
    line-height: 50px;
    transition: .3s linear;
}

.burger:hover {
    cursor: pointer;
}

nav {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -100vw;
    width: 100vw;
    height: 90vh;
    background-color: antiquewhite;
    opacity: 0.7;
    transition: .5s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

nav a,
.fa-times {
    font-size: 35px;
    color: #666;
    transition: 0.3s;
}

nav a:hover {
    text-decoration: none;
    color: #333;
}

nav i {
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 30px;
    line-height: 50px;
    transition: .3s linear;
}

i.fa-bars {
    display: none;
    color: antiquewhite;
    opacity: 0.7;
}

i.show {
    display: block;
}

nav.show {
    left: 0;
}

.fa-times {
    color: #666;
}

h1.show,
h2.show {
    display: none;
}

.tracker {
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: burlywood;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    z-index: 1;
    opacity: 0.7;
    /* display: none; */

}

/* .tracker .active {
    display: inline-block;
} */

/* .tracker i {
    transform: translateY(-3px);
} */

@media(min-width:1024px) {

    h1.show,
    h2.show {
        display: inline;
    }

    #nav {
        background-color: white;
        opacity: 0.5;
        height: 8vh;
        max-width: 100vw;
        position: fixed;
        top: 92vh;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        z-index: 999;

    }

    nav i {
        opacity: 0;
    }

    .burger i {
        opacity: 0;
    }

    .tracker {
        display: none;
    }
}




/* HEADER  */
header {
    background-image: url(people.jpg);
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

h1,
h2 {
    color: antiquewhite;
    opacity: 0.7;
    text-align: center;
    line-height: 5vh;
    font-size: 40px;
    position: absolute;
    bottom: 13vh;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    font-size: 30px;
    bottom: 5vh
}

@media(min-width:1024px) {
    header {
        height: 100vh;
    }

    h2 {
        bottom: 7vh;
    }
}

/* ABOUT */
.about {
    height: 50vh;
    width: 100vw;
    position: relative;
    margin: 20px auto;

}

.aboutUs {
    margin: 20px 20px;
}

div img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);

}

img {
    position: absolute;
    transition: opacity 1s ease-in;
}

img+img {
    opacity: 0;
}

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}

.dots span {
    display: inline-block;
    background-color: #bbb;
    margin: 0 15px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
}

.dots span.active {
    background-color: #333;
}

.person {
    background-color: #ffffff;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-around;
}

.description {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h4 {
    color: #777;
    align-self: center;
    text-align: center;
    font-size: 30px;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 700;
}


h5 {
    color: #777;
    align-self: center;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.photo {

    background-image: url(rafcio.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 150px;
    min-width: 150px;
    border-radius: 50%;
    align-self: center;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.G {

    background-image: url(gosia.jpg);
}

@media(min-width:1024px) {
    .ourStory {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
    }

    .us {
        width: 60vw;
    }

    .person {
        width: 20vw;
        margin: 5vh 0;
        height: 60vh;
    }

    .gosia {
        order: -1;
        flex-direction: column-reverse;

    }

    .description h4 {
        display: inline-block;
        margin-top: 20px;
    }

    .rafal {
        flex-direction: column;
    }

    .description {
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-left: 50px;
        padding-right: 50px;
    }

    .about {
        width: 55vw;
    }

    h5 {
        font-size: 20px;
    }
}

/* SLOGAN */
.slogan {
    text-align: center;
    background-image: url(media/love.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    height: 35vh;
}

.slogan p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 30px 30px 10px 30px;
}

.slogan p.author {
    margin-top: 20px;
    font-size: 12px;
    padding-top: 0;
}

.slogan .quote {
    /* padding: 30px 10px; */
    background-color: rgba(0, 0, 0, 0.3);
    height: 35vh;
    /*  #003f72*/
}

@media (orientation: landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {

    .slogan .quote {
        padding: 50px 10px;

    }


    .slogan p {
        font-size: 26px;
        width: 60%;
        margin: 0 auto;
    }

    .slogan p.author {
        margin-top: 40px;
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .slogan {
        height: 80vh;
    }

    .slogan .quote {
        padding: 80px 10px;
        height: 80vh;
    }


    .slogan p {
        font-size: 40px;
        width: 50%;
    }

    .slogan p.author {

        font-size: 26px;
    }
}

/* COUNTDOWN  */
.countdown {
    max-width: 100vw;
    height: 30vh;
    background-color: #FAF1EC;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}

.countdown h3 {
    font-family: 'Marck Script', cursive;
    color: #777;
    /* font-weight: 700; */
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.clock {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    list-style-type: none;
    text-transform: uppercase;
}

li span {
    display: block;
    font-size: 20px;
}

.countdown span {
    background-color: rgb(247, 204, 181);
    padding: 10px;
    width: 15vw;
    border-radius: 10px;

}

@media (min-width:1024px) {
    .countdown {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .countdown h3 {
        font-size: 50px;
        font-weight: normal;
        text-align: center;
        padding-bottom: 0;
    }

    li {
        font-size: 35px;
        color: #777;
        padding: 1em;
    }

    li span {
        font-size: 40px;
        color: #777;
    }

    .countdown span {
        width: 7vw;
    }

    ul {
        max-width: 60vw;
        align-self: center;
    }


}


/* SCHEDULE  */
.ourday {
    background-color: rgb(255, 252, 241);
    padding-top: 5vh;
}

.ourday h3,
.ourday h5 {
    color: #777;
}

.ourday h3 {
    font-size: 1.75rem;
    text-align: center;
}

.ourday h5 {
    font-size: 16px;
    padding-left: 10vw;
    padding-right: 10vw;

}

.places {
    max-width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.place {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    background-image: url(media/church.jpeg);
    height: 40vh;
    width: 90vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}

.adria {
    background-image: url(media/adria.jpg);
}

.bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 40vh;
    width: 90vw;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.places h3 {

    font-size: 30px;
    color: white;
    text-align: center;
    align-self: space-between;
    padding: 10px;

}

.places a {
    text-decoration: none;
}

@media(min-width: 1024px) {
    .ourday h3 {
        font-size: 50px;
    }

    .ourday h5 {
        font-size: 20px;
    }

    .places {
        background-color: rgb(255, 252, 241);
        height: 95vh;
        /* position: relative; */
        display: flex;
        justify-content: space-around;
        flex-direction: row;

    }

    .places h3 {

        font-size: 45px;
        color: white;
        text-align: center;
        align-self: space-between;
        padding: 10px;

    }

    .place {
        height: 70vh;
        width: 40vw;
    }


    .bg {
        opacity: 0;
        transition: 0.5s;
        height: 70vh;
        width: 40vw;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
        justify-content: space-around;
        flex-direction: column;
    }

    .place:hover .bg {
        background-color: rgba(0, 0, 0, 0.5);
        height: 70vh;
        width: 40vw;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        transition: 0.5s;
        opacity: 1;
    }


    .place:hover h3 {
        /* display: inline; */
        color: white;
        text-align: center;
        align-self: space-between;
        opacity: 1;

    }
}



/* CONFIRM  */
.confirm {
    max-width: 100vw;
    height: 35vh;
    background-image: url(media/book.jpg);
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */

}


.confirm a {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    border: 1none;
    background-color: #FAF1EC;
    border-radius: 25px;
    margin: 15px auto;
    box-shadow: none;
    text-shadow: none;
    transition: 0.5s;
    text-decoration: none;
    color: #777;
    text-align: center;
}

.confirm a:hover {
    background-color: rgb(243, 196, 171);
    color: #999;
}

@media (min-width:1024px) {

    .confirm {
        height: 80vh;


    }

    .confirm a {
        font-size: 30px;
        padding: 10px;
        margin-top: 40px;
    }
}

footer {
    background-color: #30393E;
    max-width: 100vw;
    height: 40vh;
}

footer h3 {

    font-size: 50px;
    color: white;
    text-align: center;
    align-self: space-between;
    padding: 10px;

}

.contact {
    /* display: flex;
    flex-direction: column; */
    padding-bottom: 40px;
    /* width: 50%; */
}

@media (min-width:1024px) {
    .info {
        display: flex;

    }

    .contact {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: space-around;


    }

    footer h5 {
        font-size: 30px;
    }

}